* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background: #efefef;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* LOGIN BOX */
.login-box {
    width: 430px;
    height: 600px;
    max-width: 100%;
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}

/* TITLE */
h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* ERROR */
.error {
    color: red;
    text-align: center;
    font-size: 14px;
    display: none;
    margin-bottom: 10px;
}

/* INPUT GROUP */
.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 14px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 17px;
}

/* LOGIN BUTTON */
.login-btn {
    width: 100%;
    padding: 14px;
    background: #0f4bff;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login-btn:hover {
    background: #0836c5;
}

/* LOADER */
.loader {
    display: none;
    width: 18px;
    height: 18px;
    border: 3px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

/* FORGOT PASSWORD */
.forgot {
    text-align: center;
    margin-top: 12px;
}

.forgot a {
    color: #0f4bff;
    font-size: 16px;
    text-decoration: none;
}

/* MOBILE RESPONSIVE */
@media (max-width: 480px) {

    body {
        padding: 0;
        min-height: 100vh;
    }

    .login-box {
        padding: 25px 20px;
        margin: 0;
        width: 92%;
        height: auto;
    }

    .input-group {
        margin-bottom: 14px;
    }

    .input-group input {
        padding: 13px 12px;
        font-size: 15px;
    }

    .forgot {
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .login-btn {
        padding: 12px;
        font-size: 16px;
        gap: 6px;
    }

    .loader {
        width: 16px;
        height: 16px;
        border-width: 2px;
    }
}


